.page-container-1{
    text-align: center;
    height: 10vh;

    h1{
        font-size: 2em;
        color: #898585;
    }
}

.container{
    background-color: #F5F6FA;
    height: 232.3vh;

    padding-top: 2em;
}

.bloco-fundo{
    background-color: #fff;
    border-radius: 12px;
    
    width: 80em;
    height: 68vh ;
    margin-left: 9.2em;
    margin-top: 3.5em;

    box-shadow: 0 0 1em #d9d9d9;
}

.parte-final{

}

.alinha{
    background-color: #F5F6FA;
    height: 10vh;

    text-align: center;
    button{
        padding: 15px 50px;
        background-color: #54869d;
        border: none;
        border-radius: 5px;
        color: #fff;
        font: bold;
        text-transform: uppercase;

        box-shadow: 5px 5px 1px #355470;

    }

    button:hover{
        transform: scale(1.1);
    }
}